<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Projetos')}"></head>
<body>
<div class="container">
    <div class="top-bar">
        <div class="header-left">
            <h1>Olá <span th:text="${name}"</span></h1>
            <h3>Veja seus projetos</h3>
        </div>
        <div class="header-right">
            <a href="/projects/new" class="btn">Novo projeto</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Início</th>
            <th>Fim</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getTitle()}"></td>
            <td th:text="${project.getStartDate()}">-</td>
            <td th:text="${project.getEndDate()}">-</td>
            <td class="action-cell">
                <div class="action-buttons">
                    <a th:href="@{/projects/{id}(id=${project.getId()})}" class="btn">Detalhes</a>
                    <a th:href="@{/projects/{id}/delete(id=${project.getId()})}" class="btn">Excluir</a>
                    <a th:href="@{/projects/{id}/tasks(id=${project.getId()})}" class="btn">Abrir projeto</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
