<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Criar projeto', 'projects/newStyle.css')}"></head>
<body>
<div class="container">
    <h2>Criar Novo Projeto</h2>
    <form th:object="${projectRequest}" action="/projects" method="post">
        <label for="title">Título do Projeto</label>
        <input class="form-control" id="title" th:errorclass="is-invalid" type="text" th:field="*{title}">
        <div class="invalid-feedback" th:errors="*{title}"></div>

        <label for="startDate">Data de Início</label>
        <input type="date" id="startDate" name="startDate">

        <label for="endDate">Data de Fim</label>
        <input type="date" id="endDate" name="endDate">

        <label for="description">Descrição</label>
        <textarea id="description" name="description"></textarea>

        <div class="button-row">
            <a href="javascript:history.back()" class="btn btn-back">Voltar</a>
            <button type="submit" class="btn btn-submit">Criar Projeto</button>
        </div>
    </form>
</div>
</body>
</html>
