<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head('Ver projeto', 'projects/showStyle.css')}"></head>
<body>
<div class="container">
    <h2 th:text="${projectRequest.title}">Editar Projeto</h2>
    <form th:object="${projectRequest}" th:action="@{/projects/{id}(id=${projectId})}" method="post">

        <label for="title">Título</label>
        <input type="text" id="title" th:field="*{title}" />

        <label for="description">Descrição</label>
        <textarea id="description" th:field="*{description}"></textarea>

        <label th:text="'Data de Início: ' + ${projectRequest.getStartDate()}"></label>
        <input type="date" id="startDate" th:field="*{startDate}" />

        <label th:text="'Data de fim: ' + ${projectRequest.getEndDate()}"></label>
        <input type="date" id="endDate" th:field="*{endDate}" />

        <div class="button-row">
            <a href="javascript:history.back()" class="btn btn-back">Voltar</a>
            <button type="submit" class="btn btn-edit">Editar</button>
        </div>
    </form>
</div>
</body>
</html>
